.home-page{
background-color: rgb(157,165,142);
}
body {
    font-family: 'Franklin gothic light';
}

.home-content-div{
  text-align: center;
}

.home-contact-div p{
    font-size: small;
}


.navbar{
      background-color: #c8d6aa ;
      display: flex;
      justify-content: space-evenly;
      padding-top: 2%;
      padding-bottom: 2%;
}

.navbar a{
      text-decoration: none;
      font-size: large;
}

.facts-page{
       background-color: rgb(141,183,74);
}

.facts-content-div{
    margin-left: 10%
}

.facts-content-div li{
    font-size: large
}

.gallery-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-content button{
    border-radius: 30%;
    padding: 1%;
    margin: 1%;
    background-color: rgb(154,152,152);
    border-color: rgb(154, 152,152);
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    height: 1%;
}
